<div class="header-wrap animated d-flex border-bottom">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!--Desktop Logo-->
      <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
        <a href="index.html">
          <img src="assets/images/download (2).svg" width="130px" height="70px" alt="Belle Multipurpose Html Template"
            title="Belle Multipurpose Html Template" />
        </a>
      </div>
      <!--End Desktop Logo-->
      <div class="col-2 col-sm-3 col-md-3 col-lg-8">
        <div class="d-block d-lg-none">
          <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
            <i class="icon anm anm-times-l"></i>
            <i class="anm anm-bars-r"></i>
          </button>
        </div>
        <!--Desktop Menu-->
        <nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
          <ul id="siteNav" class="site-nav medium center hidearrow">
            <li class="lvl1 parent megamenu"><a href="/home">Home <i class="anm anm-angle-down-l"></i></a>

            </li>
            <li class="lvl1 parent megamenu"><a href="/shop">Shop <i class="anm anm-angle-down-l"></i></a>

            </li>
            <li class="lvl1 parent megamenu"><a href="#">About <i class="anm anm-angle-down-l"></i></a>

            </li>
            <li class="lvl1 parent dropdown"><a href="#">Contact <i class="anm anm-angle-down-l"></i></a>

            </li>
          </ul>
        </nav>
        <!--End Desktop Menu-->
      </div>
      <!--Mobile Logo-->
      <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
        <div class="logo">
          <a href="index.html">
            <img src="assets/images/download (2).svg" alt="Belle Multipurpose Html Template"
              title="Belle Multipurpose Html Template" />
          </a>
        </div>
      </div>
      <!--Mobile Logo-->
      <div class="col-4 col-sm-3 col-md-3 col-lg-2">
        <div class="d-flex justify-content-end align-items-center">
          <!-- Wishlist Button -->
          <div class="site-header__wishlist" style="margin-left: 15px;">
            <a href="/wishlist" style="background: none; border: none; cursor: pointer;">
              <i class="icon anm anm-heart-l" style="font-size: 24px;"></i>
            </a>
          </div>

          <!-- Cart Button -->
          <div class="site-header__search" style="margin-left: 15px;">
            <a href="/cart" style="background: none; border: none; cursor: pointer;">
              <i class="icon anm anm-bag-l" style="font-size: 24px;"></i>
            </a>
          </div>

          <!-- Search Button -->
          <div class="site-header__search" style="margin-left: 15px;">
            <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
